build/
toolchain/
tools/*
!tools/build-user.ps1
!tools/new-user-app.ps1
!tools/run-user.ps1
!tools/UserAppCommon.ps1
!tools/Toolchain.ps1
!tools/Ninja.ps1
!tools/bootstrap.ps1
!tools/toolchain.lock.json
!tools/gen_cursor_asset.py
!tools/gen_desktop_source_art.py
!tools/gen_desktop_icon_assets.py
!tools/GenerateDefaultWallpaper.py
!tools/font/
!tools/font/**
*.log
sdk/doomgeneric/wad/*.wad
